<div id="list-edit">

  <% url = if list.persisted? then user_list_path(list.owner, list) else lists_path end  %>

  <%= form_for(list, url: url) do |f| %>
    <% if list.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(list.errors.count, "error") %> prohibited this list from being saved:</h2>

        <ul>
          <% list.errors.full_messages.each do |message| %>
            <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-horizontal">
      <div class="form-group">
        <%= f.label :name, class: "col-md-2 control-label" %>
        <div class="col-md-10">
          <%= f.text_field :name, class: "form-control" %>
        </div>
      </div>
      <membership
        v-for="(contributor, index) in contributors"
        :user="contributor"
        :index="index"
      ></membership>

      <div class="form-group">
        <%= f.label :description, class: "col-md-2 control-label" %>
        <div class="col-md-10">
          <%= f.text_area :description, class: "form-control", rows: 5 %>
        </div>
      </div>

      <div class="form-group">
        <div class="col-md-2 control-label">
          <%= f.label :tag_list, 'Tags'%>
          <p><small>(separated by commas)</small></p>
        </div>
        <div class="col-md-10">
          <%= f.text_field :tag_list, value: list.tag_list.join(","), class: "form-control", placeholder: 'Ex: biology, chemistry, physics' %>
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-2 control-label">
          Owner
        </label>
        <div class="col-md-3">
          <div class="form-control contributor-list">
            <a :href="'/'+owner" >{{ owner }}</a>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-2 control-label">
          <%= f.label :access, 'List Access'%>
        </div>
        <div class="col-md-3"
            data-toggle="popover"
            data-placement="right"
            data-trigger="hover"
            v-bind:data-content="accessDefinition">
          <select
            name="list[access]"
            id="list_access"
            class="form-control"
            :disabled="!canModerate"
            v-model= "listAccess"
          >
            <option value="public">🌎 Public</option>
            <option value="contributors">🔒 Contributors</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-2">
          <div class="control-label">Contributors</div>
        </label>

        <div class="col-md-3">
          <select
            class="form-control contributor-list"
            :disabled="!canModerate || isPublic"
            v-model="selected"
            @click="addMember()"
          >
            <option value="">Add Contributor</option>
            <option
              v-for="nonMember in nonMembers"
              :value="nonMember"
              v-text="nonMember.username"
            >
            </option>
          </select>
          <member
            class="form-control contributor-list"
            v-for="contributor in contributors"
            :disabled="isPublic"
            :user="contributor"
            :canmoderate="canModerate"
            :currentuser="currentUser"
            @remove="removeMember(contributor)"
          >
          </member>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <%= f.submit button_name, class: "btn btn-primary" %>
          <%= link_to 'cancel',
            if list.id then user_list_path(list.user, list) else root_path end
          %>
        </div>
      </div>
    </div>
  <% end %>

</div>

<% content_for(:page_app) do %>
  <script>
    Vue.component('member', {
      computed: {
        canRemove: function() {
          return this.currentUser == this.username || canModerate
        }
      },
      template: `
        <div>
          <a :href="'/'+user.username">{{ user.username }}</a>
          <span
            class="btn-icon remove-button pull-right"
            type="button"
            v-if="canRemove"
            @click="$emit('remove')"
          ></span>
        </div>
      `,
      props: ["user","canmoderate","currentuser"]
    })

    Vue.component('membership', {
      template: `
        <div>
          <input type="hidden" :value="user.role" :name="'list[list_memberships_attributes]['+ index + '][role]'" :id="'list_list_memberships_attributes_'+ index + '_role'">
          <input type="hidden" :value="user.username" :name="'list[list_memberships_attributes]['+ index + '][username]'" :id="'list_list_memberships_attributes_'+ index + '_username'">
        </div>

      `,
      props: ['user','index']
    })

    var editList = new Vue({
      el: '#list-edit',
      data: {
        selected: '',
        listAccess: '',
        currentUser: '',
        canModerate: false,
        owner: '',
        members: []
      },
      computed: {
        isPublic: function() {
          return this.listAccess == "public"
        },
        accessDefinition: function() {
          if (this.isPublic) {
            return 'Anyone can add and remove their own references.  Public lists allow the greatest amount of participation and collaboration.'
          } else if (this.listAccess == 'contributors') {
            return 'Only assigned contributors can edit or add references to this list.  This gives contributors full control over referenced papers.'
          }
        },
        contributors() {
          return this.members.filter(member => member.role == 'contributor')
        },
        nonMembers() {
          return this.members.filter(member => member.role == 'nonmember')
        }
      },
      methods: {
        addMember() {
          if(this.selected != '') {
            this.selected.role = 'contributor'
            this.selected = ''
          }
        },
        removeMember(member) {
          member.role = 'nonmember';

        }
      },
     mounted: function() {
            var editList = this
            $.get(window.location.href + '.json')
               .done(function(data) {
                 editList.members = data.members
                 editList.canModerate = data.can_moderate
                 editList.currentUser = data.current_user
                 editList.listAccess = data.access
                 editList.owner = data.owner
               })
      }

    })
  </script>
<% end %>
