<div id="list-edit">

  <% url = if list.persisted? then user_list_path(list.owner, list) else lists_path end  %>

  <%= form_for(list, url: url) do |f| %>
    <% if list.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(list.errors.count, "error") %> prohibited this list from being saved:</h2>

        <ul>
          <% list.errors.full_messages.each do |message| %>
            <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    <input v-for="member in members" name="list[members][]" id="list_members" :value="member" type="hidden"></input>
    <div class="form-horizontal">
      <div class="form-group">
        <%= f.label :name, class: "col-md-2 control-label" %>
        <div class="col-md-10">
          <%= f.text_field :name, class: "form-control" %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :description, class: "col-md-2 control-label" %>
        <div class="col-md-10">
          <%= f.text_area :description, class: "form-control", rows: 5 %>
        </div>
      </div>

      <div class="form-group">
        <div class="col-md-2 control-label">
          <%= f.label :tag_list, 'Tags'%>
          <p><small>(separated by commas)</small></p>
        </div>
        <div class="col-md-10">
          <%= f.text_field :tag_list, value: list.tag_list.join(","), class: "form-control", placeholder: 'Ex: biology, chemistry, physics' %>
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-2 control-label">
          Owner
        </label>
        <div class="col-md-3">
          <div class="form-control contributor-list">
            <a :href="'/'+owner" >{{ owner }}</a>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-2 control-label">
          <%= f.label :access, 'List Access'%>
        </div>
        <div class="col-md-3"
            data-toggle="popover"
            data-placement="right"
            data-trigger="hover"
            v-bind:data-content="accessDefinition">
          <select
            name="list[access]"
            id="list_access"
            class="form-control"
            :disabled="!canModerate"
            v-model= "listAccess"
          >
            <option value="public">🌎 Public</option>
            <option value="contributors">🔒 Contributors</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-2">
          <div class="control-label">Contributors</div>
        </label>

        <div class="col-md-3">
          <select
            class="form-control contributor-list"
            :disabled="!canModerate || isPublic"
            v-model="selected"
            @click="addMember()"
          >
            <option value="">Add Contributor</option>
            <option
              v-for="nonMember in nonMembers"
              :value="nonMember"
              v-text="nonMember"
            >
            </option>
          </select>
          <member
            class="form-control contributor-list"
            v-for="member in members"
            :disabled="isPublic"
            :username="member"
            @remove="removeMember(member)"
          >
          </member>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <%= f.submit button_name, class: "btn btn-primary" %>
          <%= link_to 'cancel',
            if list.id then user_list_path(list.user, list) else root_path end
          %>
        </div>
      </div>
    </div>
  <% end %>

</div>

<% content_for(:page_app) do %>
  <script>
    Vue.component('member', {
      computed: {
        canRemove: function() {
          return '<%= current_user.username %>' == this.username || <%= @current_user_can_moderate %>
        }
      },
      template: `
        <div>
          <a href="/username">{{ username }}</a>
          <span
            class="btn-icon remove-button pull-right"
            type="button"
            v-if="canRemove"
            @click="$emit('remove')"
          ></span>
        </div>
      `,
      props: ['username']
    })

    var editList = new Vue({
      el: '#list-edit',
      data: {
        selected: '',
        listAccess: "<%= list.access %>",
        owner: '<%= @owner %>',
        currentUser: '<%= current_user.username %>',
        canModerate: <%= @current_user_can_moderate %>,
        nonMembers: <%= raw (User.pluck(:username) - @list.members.pluck(:username) - [@owner]) %>,
        members: <%= raw @members  %>
      },
      computed: {
        isPublic: function() {
          return this.listAccess == "public"
        },
        accessDefinition: function() {
          if (this.isPublic) {
            return 'Anyone can add and remove their own references.  Public lists allow the greatest amount of participation and collaboration.'
          } else if (this.listAccess == 'contributors') {
            return 'Only assigned contributors can edit or add references to this list.  This gives contributors full control over referenced papers.'
          }
        }
      },
      methods: {
        addMember() {
          if(this.selected != '') {
            this.members.push(this.selected);
            var index = this.nonMembers.indexOf(this.selected);
            this.nonMembers.splice(index,1);
            this.selected = ''
          }
        },
        removeMember(member) {
          this.nonMembers.push(member);
          var index = this.members.indexOf(member);
          this.members.splice(index,1);
        }
      }
    })
  </script>
<% end %>
