<div id="list-edit">

  <% url = if list.persisted? then user_list_path(list.owner, list) else lists_path end  %>

  <%= form_for(list, url: url) do |f| %>

    <% if list.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(list.errors.count, "error") %> prohibited this list from being saved:</h2>

        <ul>
          <% list.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div id="lists_form"></div>

    </div>
  <% end %>

  <div class="row">
    <div class="col-sm-offset-2 col-sm-10">
      <% if list.persisted? && current_user == list.owner %>
        <%= link_to 'Delete this board', user_list_path(list.user, list), class: "btn btn-danger", method: :delete, data: { confirm: 'Are you certain you want to delete this?' }
        %>
      <% end %>
    </div>
  </div>
</div>

<% content_for(:page_app) do %>
  <script>
    window.listsFormProps = {
      list: <%= list.to_json.html_safe %>,
      buttonName: '<%= button_name %>',
      currentUser: "<%= current_user.username %>",
      canModerate: <%= (if @list.persisted? then current_user.can_edit?(@list) else true end) %>,
      owner: '<%= (if @list.persisted? then @list.owner.username else current_user.username end) %>',
      allUsers: <%= raw render('lists/all_users.json', list: @list) %>,
      cancelLink: '<%= if list.id then user_list_path(list.user, list) else root_path end %>',
      contributors: <%= raw render('lists/contributors.json', list: @list) %>,
      contributorsSearchLink: '<%= list_form_contributors_path(list) %>',
    }
  </script>
<% end %>
