<div class="col-md-3 list-card" v-if="showList(<%= list.id %>)">
  <div class="panel panel-default">
    <div class="panel-body">
      <% if user_signed_in? %>
        <div class="row">
          <div class="col-md-12">
            <toggle-pin :pinned="<%= current_user.homepage.lists.include?(list) %>" list-slug="<%= list.slug %>"></toggle-pin>
            <span id="list-vote-<%= list.id %>">
              <toggle-vote
                :liked="<%= current_user.voted_for?(list) %>"
                vote-url="<%= list_vote_url(list) %>"
                votable-class="list"
                vote-count="<%= list.get_likes.size.to_s %>"
              ></toggle-vote>
            </span>
            <% if current_user.can_edit? list %>
              <small class="pull-right">
                <%= link_to 'Edit ', edit_user_list_path(list.owner, list) %>
              </small>
            <% end %>
          </div>
        </div>
      <% end %>
      <h2>
        <%= link_to list.name, user_list_path(list.owner, list) %><br>
        <small> by <%= link_to list.owner.username, user_lists_path(list.owner) %></small>
      </h2>

      <% list.tag_list.each do |tag| %>
        <a class="btn btn-default btn-xs"><%= tag %></a>
      <% end %>

      <p><%= truncate(list.description, length: 400, separator: ' ') %></p>

      <% comments_count = list.comments.map {|c| c.self_and_descendants.length}.inject(0,&:+) %>

      <small><i>
        Last Update: <%= list.updated_at.strftime("%b %d, %Y at %l:%M%P")%>
        <span class="pull-right"> <%= pluralize(comments_count, 'comment') if comments_count > 0 %></span>
      </i></small>
    </div>
  </div>
</div>
