<%
  @title = 'Home'
  @full_width = true
  @body_class = "list-index"
%>

<div id="search-lists">

  <select class="form-control" v-model="selectedCategory">
    <option v-for="category in categories" v-text="category"></option>
  </select>

  <% if @pinned_lists.present? %>
    <div class="row">
      <div class="col-md-12">
        <h1>Pinned Lists</h1>
      </div>
    </div>

    <div class="cards row">
      <div class="col-md-3">

        <%= link_to new_list_path, class: "btn panel panel-default new-list" do %>
          <h2>Create a new list</h2>
        <% end %>
      </div>

      <% @pinned_lists.each do |list|%>
        <div class="col-md-3 list-card" v-show="filterByTag(<%= list.tag_list.to_a %>)">
          <%= render 'list', list: list %>
        </div>
      <% end %>

    </div>
  <% end %>

  <% if @unpinned_lists.present? %>
    <div class="row">
      <div class="col-md-12">
        <h1>Lists</h1>
      </div>
    </div>

    <div class="cards row">
      <div class="col-md-3">
        <%= link_to new_list_path, class: "btn panel panel-default new-list" do %>
          <h2>Create a new list</h2>
        <% end %>
      </div>

      <% @unpinned_lists.each do |list|%>
        <div class="col-md-3 list-card" v-show="filterByTag(<%= list.tag_list.to_a %>)">
          <%= render 'list', list: list %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>

<% content_for(:page_app) do %>
  <script>
    var searchLists = new Vue({
      el: '#search-lists',
      data: {
        selectedCategory: 'All Categories',
        categories:
          [
            'All Categories',
            'Health and Nutrition',
            'Economics and Social Policy',
            'Science and Technology',
            'Other'
          ]
      },
      methods: {
        filterByTag: function(tags) {
         return tags.includes(this.selectedCategory.toLowerCase()) || this.selectedCategory == 'All Categories'
        }
      }
    });
  </script>
<% end %>