<%
  @title = 'Home'
  @full_width = false
  @body_class = "list-index"
%>

<div id="search-lists">
  <div class="row">
    <div class="col-md-3">
    <%= render 'lists/search_index' %>

      <%= link_to new_list_path, class: "btn panel panel-default new-list" do %>
        <h3>Create a new list</h3>
      <% end %>

      <div v-if="signedIn">
        <h3>Filters by:</h3>
        <button
          class="filter-btn"
          v-bind:class="{'active': filterPins}"
          @click="toggleFilterPins"
        >
          Your Pins
        </button>
        <button
          class="filter-btn"
          v-bind:class="{'active': filterLikes}"
          @click="toggleFilterLikes"
        >
          Your Likes
        </button>
      </div>
    </div>
    <div class="col-md-9">
      <h1> </h1>
      <div v-for="result in showResults">
        <list-card
          :list="result"
          :signed-in="signedIn"
        >
        </list-card>
      </div>
    </div>
  </div>
</div>

<% content_for(:page_app) do %>
  <%= render 'lists/list_card' %>
  <script>
    searchLists.signedIn = <%= user_signed_in? %>
    searchLists.allLists = <%= raw render('lists/lists.json', lists: @visible_lists) %>
    var query = window.location.search.split("&q=")[1]
    searchLists.query = (query == undefined) ? "" : query
    searchLists.$mount('#search-lists')
  </script>
<% end %>
