<%
  @title = 'Home'
  @full_width = true
  @body_class = "list-index"
%>

<div id="search-lists">
  <div class="form-horizontal">
    <div class="form-group">
      <label class="col-md-1 control-label">Category:</label>
      <div class="col-md-2">
        <select class="form-control" v-model="selectedTag">
          <option v-for="tag in Tags" v-text="tag"></option>
        </select>
      </div>
    </div>
  </div>

  <% if @pinned_lists.present? %>
    <div class="row">
      <div class="col-md-12">
        <h1>Pinned Lists</h1>
      </div>
    </div>

    <div class="cards row">
      <div class="col-md-3">
        <%= link_to new_list_path, class: "btn panel panel-default new-list" do %>
          <h2>Create a new list</h2>
        <% end %>
      </div>
      <%= render @pinned_lists %>
    </div>

  <% end %>

  <% if @unpinned_lists.present? %>
    <div class="row">
      <div class="col-md-12">
        <h1>Lists</h1>
      </div>
    </div>

    <div class="cards row">
      <div class="col-md-3">
        <%= link_to new_list_path, class: "btn panel panel-default new-list" do %>
          <h2>Create a new list</h2>
        <% end %>
      </div>
      <%= render @unpinned_lists %>
    </div>
  <% end %>
</div>

<% content_for(:page_app) do %>
  <script>
    var searchLists = new Vue({
      el: '#search-lists',
      data: {
        selectedTag: 'All Tags',
        Tags: <%=  @tag_buckets  %>
      },
      methods: {
        showSelectedTag: function(tags) {
          return tags.includes(this.selectedTag.toLowerCase()) || this.selectedTag === 'All Tags'
        }
      }
    });
  </script>
<% end %>