<%
  @title = 'Home'
  @full_width = true
  @body_class = "list-index"
%>

<div id="search-lists">
<!--   <div class="form-horizontal">
    <div class="form-group">
      <label class="col-md-1 control-label">Category:</label>
      <div class="col-md-2">
        <select class="form-control" v-model="selectedTag">
          <option v-for="tag in tags" v-text="tag"></option>
        </select>
      </div>
    </div>
  </div> -->
  <input
    class="form-control"
    v-model="query"
    v-on:keyup="getResults"
  >
  <ul class="list-group crossref-results" v-if="this.results.length">
    <li
      class="list-group-item"
      v-for="result in results"
      v-html="result"
      v-on:click="selectResult(result)"
    >
    </li>
  </ul>

  <% if @pinned_lists.present? %>
    <div class="row">
      <div class="col-md-12">
        <h1>Pinned Lists</h1>
      </div>
    </div>

    <div class="cards row">
      <div class="col-md-3">
        <%= link_to new_list_path, class: "btn panel panel-default new-list" do %>
          <h2>Create a new list</h2>
        <% end %>
      </div>
      <%= render @pinned_lists %>
    </div>

  <% end %>

  <% if @unpinned_lists.present? %>
    <div class="row">
      <div class="col-md-12">
        <h1>Lists</h1>
      </div>
    </div>

    <div class="cards row">
      <div class="col-md-3">
        <%= link_to new_list_path, class: "btn panel panel-default new-list" do %>
          <h2>Create a new list</h2>
        <% end %>
      </div>
      <%= render @unpinned_lists %>
    </div>
  <% end %>
</div>

<% content_for(:page_app) do %>
  <script>
    var searchLists = new Vue({
      el: '#search-lists',
      data: {
        selectedTag: 'All Tags',
        query: '',
        tags: <%=  @tag_buckets  %>,
        results: []
      },
      computed: {
        matchingTags() {
          return this.tags.filter(tag => tag.toLowerCase().includes(this.query.toLowerCase()))
        }
      },
      methods: {
        showSelectedTag: function(listTags) {
          return listTags.includes(this.selectedTag.toLowerCase()) || this.selectedTag === 'All Tags'
        },
        showQueriedTag: function(tags) {
          return tags.includes(this.query.toLowerCase()) || this.query === ''
        },
        getResults: function() {
          if (this.query === '') {
            return this.results = []
          } else {
            return this.results = this.matchingTags
          }
        },
        selectResult: function(result) {
          this.query = result
          this.results = []
        }
      }
    });
  </script>
<% end %>