<div class="list-show">
  <div class="list-section">
    <div class="list-section-h1">
      <div class= "list-title"><%= @list.name %></div>
      <%= render 'users/lists/list_details' %>
    </div>
  </div>

  <% if @summary.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@summary.errors.count, 'error') %> prohibited this summary from being saved:</h2>
      <ul>
        <% @summary.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="vue-summaries-form" data-props="<%=
    {
      formUrl: if @summary.persisted? then user_list_summary_path(@list.owner, @list) else user_list_summaries_path(@list.owner, @list) end,
      signedIn: user_signed_in?,
      list: @list.as_json(include: [:tags, :others]),
      summary: @summary.as_json,
      allReferences: ActiveSupport::JSON.decode(render('users/lists/jbuilders/references.json', references: @list.references)),
      evidenceRatings: Summary.evidence_ratings.keys,
    }.to_json
  %>"></div>

</div>
