<%
  @title = 'My Bookmarks'
  @body_class = 'page-bookmark-list'
%>

<h2>My Bookmarks</h2>
<hr>

<% unless @bookmarks.count %>
  <p>No don't have any bookmarks yet.</p>
<% else %>

  <div class="bookmarks-list">
    <% @bookmarks.each do |bookmark| %>
      <% if bookmark.bookmarkable_type == 'Paper' %>
        <% paper = bookmark.bookmarkable %>
        <div class="bookmark-item">
          <h4 class="color-primary"><%= paper.title %></h4>
          <% if paper.authors.any? %><p class="bookmark-authors">by <%= paper.authors.map{|a| a.full_name }.to_sentence %></p><% end %>
          <p class="bookmark-meta">
            <% if paper.doi %><b>DOI:</b> <%= paper.doi %><% end %>
            <% if paper.pubmed_id %><b>Pubmed ID:</b> <%= paper.pubmed_id %><% end %>
            Direct Link: <a href="<%= paper.direct_link %>" target="_blank"><%= paper.direct_link %></a>
          </p>
        </div>
      <% end %>
    <% end %>
  </div>

  <%= will_paginate @bookmarks %>

<% end %>