<% @title = 'How-To' %>

<div class='row how-to'>
  <div class='col-md-9'>
    <h1 id='top'>Project Credo: Collaborative Research</h1>
    <h4>
      Primary research is the foundation of scientific information.  Around 1.5 million research papers are written annually but finding, understanding, and sharing them remains challenging.  We're helping more people discover the value of this data by tearing down the walls that make research difficult to engage with.  Project Credo's mission is to build a evidence based consensus on a wide range of topics and openly sharing it with the public.  This is a quickstart guide on how to use the site.
    </h4>
    <h2 id='create-list'>Create a List</h2>
    <h4>
      <p>Project Credo let's anyone curate their own list of research making it easy for viewers to navigate to, talk about, and understand primary research within the context of a topic or question.  By creating your own list, you can add to our repository of evidence and broaden the fields people can examine through the lens of research.</p>
      <p>Lists can be any topic that can be researched through the scientific process ranging in categories like medicine, health, psychology, social policy, economics, computer science, and mathematics.  If there's a journal for it, it's a fit for our site.</p>

      <p>You don't need to limit yourself to questions either.  If you have a topic you want to keep tabs on, someone else probably does as well.  The more lists and types of lists we have, the better coverage we get.  Some example non-question list names could be "Studies on Welfare in America","Exercise and Depression", or even broader like "</p>
    </h4>
    <h3 id='new-list'>New List</h3>
    <h4>
      Lists are the centerpiece entries for users. Start a new list for any topic you don't see or you would like to curate personally.  Lists represent a collection of primary research papers by an individual or collaboratively by a group or public.  A Project Credo list is shared within and beyond our community so viewers to have a window into the best research for a topic.  Whether you are an expert or looking for help in finding papers, starting a list will get you there.
    </h4>
    <h3 id='name-and-description'>Name and Description</h3>
    <h4>
      <p>A good name and description will give all viewers and collaborators the context for the kind of papers you want in your list.  Some attributes you want your audience to consider are geography, methodology, receny, and any sample requirements like gender or age.</p>
      <p>Tags on the list can provide a quick glance of additional keywords or attributes you're looking for.</p>
    </h4>
    <h3 id='collaborators'>Collaborators</h3>
    <h4>
      A <b>public list</b> allows any member of the Project Credo community to add papers to this list.  A <b>collaborators only list</b> allows only users you've selected to add papers to your list.  You maintain ownership of your list while any added collaborators can:
      <p><ul>
        <li>Add and remove papers to a <b>collaborators only list</b></li>
        <li>Edit list details like name, description, tags
        <li>Add and remove other collaborators or remove themselves as collaborators</li>
        <li>Help moderate comments</li>
      </ul></p>
    </h4>
    <h2 id='add-papers'>Add Papers to a List</h2>
    <h4>
      <p><b>Primary Research and Sources</b> are the origination point of data through experimentation, surveys, or other means of gathering empirical evidence.  <b>Secondary sources</b> are important too by analyzing the primary source and providing additional insight and context.  Our mission at Project Credo is to connect and guide people to the origins of empirical evidence.  A good Project Credo list will primarily cite primary sources and may include secondary sources like reviews of literature, systematic reviews, and meta-analyses.  However, we avoid reporting and opinated articles like news articles or blog entries in favor of the primary source.  This guides us in our goal to get people as close to original source of data as possible.</p>

      <p>Finding the best papers is the primary function of a list and we offer a few methods like searching through Crossref's library through our searchbar, adding by a DOI, by a Pubmed ID, or by URL.  Project Credo sources bibliographic data from Crossref and Pubmed and will look to meld incoming data wherever possible.</p>
    </h4>
    <h3 id="search-paper">Search</h3>
    <h4>
      The easiest way to find a paper is to search by keywords, a paper's title, author name, or journal.  This search ties to Crossref's library of papers.

      Click the paper you want to add.
    </h4>
    <h3 id="add-doi">DOI</h3>
    <h4>
      <p>Digital object identifiers (DOIs) are a persistent identifier for electronic documents and used by many publishers to link a journal article to its location on the web.  DOIs will begin with <b>"10."</b> followed by a 4 digit identifier for the publishing body.</p>
      <p>Examples of DOIs include:</p>
      <ul>
        <li>10.1371/journal.pone.0066981</li>
        <li>10.1002/j.2326-1951.1969.tb02534.x</li>
        <li>10.1163/193724086x00217</li>
      </ul>
    </h4>
    <h3 id="add-pubmed">Pubmed ID</h3>
    <h4>
      <p>Pubmed IDs or PMIDs are a simple string of numbers and ties to Pubmed's database of articles.</p>
      <p>Examples of Pubmed IDs include:</p>
      <ul>
        <li>23193287</li>
        <li>27977802</li>
        <li>27974576</li>
      </ul>
    </h4>
    <h3 id="add-url">URL</h3>
    <h4>
      If you can't find a paper through search, DOI, or Pubmed ID you can add a paper by its URL and title.  This should be a last resort option as we cannot validate the bibliographic data at this point.
    </h4>
    <h3 id="add-paper-info">Additional Paper Data</h3>
    <h4>
      <p>You can add missing details for a paper such as the abstract, links, and tags.</p>

      <p>Abstract</p>
      Links
      Tags
    </h4>
    <h3 id="add-pubmed">Remove a Paper</h3>
    <h4>
      Removing a paper is as simple as clicking the "Remove from list" button.  Only owners of lists, collaborators, or the original poster of the paper can remove a paper from a list.
    </h4>
    <h2 id='comment-vote-share'>Additional Context - Comment, Vote, and Share</h2>
    <h4>
      Filling a list with papers is just beginning. Helping more people unlock the value of primary research requires better context and analysis.  Through Project Credo, addditional context is a collaborative exercise.
    </h4>
    <h3 id="comment">Comment</h3>
    <h4>
      <p>Commenting on paper helps provide details that aren't easily discernible from the abstract.  Good paper comments should shed light on the intent of the paper and point out any interesting findings or biases in the methodology</p>
      <p>You can also comment on a list which provides context on how papers fit in the larger conversation of the topic.  Good list comments show where papers fit within the scientific lifecycle and where each paper fits within the discussion.</p>
    </h4>
    <h3 id="vote">Vote</h3>
    <h4>
      Voting for a paper or comment helps show viewers what's important.  Upvote the best papers within the context of a list.  Help others identify the most valuable comments.
    </h4>
    <h3 id="share">Share</h3>
    <h4>
      Sharing your list or other people's list is easy and helps Project Credo spread the message of primary research.  Share the link on Facebook, Twitter, or any other social media platform.
    </h4>

    <h2 id='get-started'>Get Started!</h2>
    <h4>
      Now that you know how to help build our scientific commons, let's jump into it!  Go to our <%=link_to "homepage", root_path %> and see what people have already created or
      <%= "sign-in/sign-up and" unless current_user %> <%= link_to "create your own list.", new_list_path %>
    </h4>
    <div class="row">
      <% if not current_user %>
        <div class="col-md-2">
          <%= link_to "Sign-in", new_user_session_path, class: "btn btn-primary btn-lg"%>
        </div>
        <div class="col-md-2">
          <%= link_to "Sign-up", new_user_registration_path, class: "btn btn-primary btn-lg"%>
        </div>
      <% end %>
    </div>

  </div>

  <nav class='col-md-3 scrollspy bs-docs-sidebar'>
    <ul class="nav nav-stacked" data-spy="affix">
      <li><a href="#top">Top</a></li>

      <li>
        <a href="#create-list">Create a List</a>
        <ul class='nav'>
          <li><a href="#new-list">New List</a></li>
          <li><a href="#name-and-description">Name and Description</a></li>
          <li><a href="#collaborators">Add Collaborators</a></li>
        </ul>
      </li>

      <li>
        <a href="#add-papers">Add Papers to a List</a>
        <ul class='nav'>
          <li><a href="#search-paper">Search</a></li>
          <li><a href="#add-doi">DOI</a></li>
          <li><a href="#add-pubmed">Pubmed ID</a></li>
          <li><a href="#add-url">URL</a></li>
          <li><a href="#add-paper-info">Additional Paper Data</a></li>
          <li><a href="#add-pubmed">Remove a Paper</a></li>
        </ul>
      </li>

      <li>
        <a href="#comment-vote-share">Comment, Vote, and Share</a>
        <ul class='nav'>
          <li><a href="#comment">Comment</a></li>
          <li><a href="#vote">Vote</a></li>
          <li><a href="#share">Share</a></li>
        </ul>
      </li>

      <li><a href="#get-started">Get Started!</a></li>

    </ul>
  </nav>
</div>
