<h2>Edit Your Account</h2>
<hr>

<div class="row">
  <div class="col-md-8 col-md-push-2">

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= devise_error_messages! %>

      <div class="form-group">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :username %><br />
        <%= f.text_field :username, class: "form-control" %>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="form-group">
        <%= f.label :current_password %> <i>(required only when updating your current password)</i><br />
        <%= f.password_field :current_password, autocomplete: "off", class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
        <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
        <% if @minimum_password_length %>
          <em><%= @minimum_password_length %> characters minimum</em>
        <% end %>
      </div>

      <div class="form-group">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :avatar, 'Avatar Image' %>
        <%= f.file_field :avatar, accept: 'image/png,image/gif,image/jpeg', class: "form-control" %>
          <div class="form-selected-image">
            <% if resource.avatar.present? %>
              <a class="fancy-box" href="<%= resource.avatar :original %>">
                <img src="<%= resource.avatar :thumb %>" alt="">
              </a>
              <div><a href="<%= users_remove_avatar_path %>">Remove</a></div>
            <% else %>
              <img id="user_avatar_preview" src="<%= resource.avatar :thumb %>" alt="" style="display: none;">
            <% end %>
          </div>
      </div>

      <div class="form-group text-right">
        <%= f.submit "Update", class: "btn btn-primary" %>
      </div>
    <% end %>

  </div>
</div>
