<% paper = reference.paper %>
<% direct_link =
  if paper.doi.present?
    "http://dx.doi.org/#{paper.doi}"
  elsif paper.pubmed_id.present?
    "https://www.ncbi.nlm.nih.gov/pubmed/#{paper.pubmed_id}"
  else
    paper.links.first.url
  end
%>

<div class="row paper-show">
  <% if not show_comments %>
    <div class="col-md-1" id="reference-vote-<%=reference.id%>">
      <toggle-vote
        :liked="<%= user_signed_in? && current_user.voted_for?(reference) %>"
        vote-path="<%= reference_vote_url(reference) %>"
        votable-class="reference"
        vote-count="<%= reference.get_likes.size.to_s %>"
      ></toggle-vote>
    </div>
  <% end %>
  <div class="col-md-<%= show_comments ? 12 : 11 %>">
    <% if show_comments %>
      <%= yield(:paper_title) %>
    <% else %>
      <h4 class="paper-title">
        <%= link_to paper.title, direct_link, target: '_blank' %>
      </h4>
    <% end %>

    <div class='reference-metadata'>
      <%= render 'papers/metadata', paper: paper %>
      <%= render 'papers/tags', paper: paper %>
    </div>

    <div class="reference-detail">
      <%= link_to 'permalink', user_list_reference_path(reference.list.user, reference.list, reference) %>
       - contributed by <%= link_to reference.user.username, user_lists_path(reference.user) %>
    </div>

    <ul class="nav nav-pills small" role="tablist">
      <li><%= link_to 'Abstract', '', "data-detail-id" => "abstract-#{reference.id}", class: "paper-detail-tab" %></li>
      <li><%= link_to 'Details', '', "data-detail-id" => "details-#{reference.id}", class: "paper-detail-tab" %></li>
      <li><%= render 'references/comments_tab', reference: reference %></li>
      <% if current_user %>
        <li>
          <%= form_for reference, method: :delete do |r| %>
            <%= r.text_field :id, value: reference.id, hidden: true %>
          <% end %>
          <% if reference.user == current_user || current_user.can_moderate?(reference.list) %>
            <%= link_to('Remove from list', {}, class: 'delete-reference text-danger') %>
          <% end %>
        </li>
      <% end %>
    </ul>

    <div class="collapse paper-detail well" id="abstract-<%= reference.id %>">
      <%= render 'papers/abstract', reference: reference %>
    </div>

    <div class="collapse paper-detail well" id="details-<%= reference.id %>">
      Links:
      <ul class="links">
        <%= render 'links/links', reference: reference %>
      </ul>
    </div>

    <div class="paper-detail well collapse <%= "in" if show_comments %>" id="comments-<%= reference.id %>">
      <%= render 'commentables/comments', commentable: reference, list_for_authorization: reference.list %>
    </div>

  </div>
</div>
