<div id="reference-list">

  <div class="modal fade" id="referenceModal" tabindex="-1" role="dialog" aria-labelledby="referenceModal" v-if="selectedReference.paper" :reference="selectedReference">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">
            {{selectedReference.paper.title}}
            <a class="modal-link" :href="selectedReference.direct_link" target="_blank"></a>
          </h4>
        </div>
        <div class="modal-body">
          <div>
            <a
              class="tag"
              v-for="tag in selectedReference.tag_list"
              v-text="tag"
            >
            </a>
          </div>
          <p class="header" v-if="selectedReference.authors.length > 0">
          Authors
            <a
              class="tag"
              v-for="author in selectedReference.authors"
              v-text="author.full_name"
            >
            </a>
          </p>
          <div v-if="selectedReference.abstract == ''">
            <div class="header">Abstract</div>
            No Abstract found

          </div>
          <abstract :abstract="selectedReference.abstract"></abstract>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Next</button>
        </div>
      </div>
    </div>
  </div>

  <% reference_count = @list.references.count %>
  <% if reference_count > 0 %>
    <%= render 'papers/sort_by' %>
    <i><%= reference_count%> papers added to this list</i>
  <% end %>

  <table class="table">
    <thead>
      <tr>
        <th width="50"></th>
        <th width="50">
          Age
        </th>
        <th>Paper</th>
        <th width="50"></th>
      </tr>
    </thead>
    <tbody
        is="reference-row"
        v-for="(reference,index) in allReferences"
        v-on:selected="selectReference(index)"
        :index="index"
        :reference="reference"
        :signed-in="signedIn"
        >
    </tbody>
  </table>
</div>

<% content_for(:page_app) do %>
  <%= render 'votes/vote_template' %>
  <%= render 'users/lists/notes_highlights' %>
  <%= render 'truncate_abstract' %>
  <%= render 'users/lists/reference_row' %>
  <script>
    Vue.component("abstract", {
      props: ["abstract"],
      data: function() {
        return {
          truncateAbstract: true
        }
      },
      template: '#abstract'
    })

    Vue.component("note", {
      props: ["note"],
      template: '#note'
    })

    Vue.component("reference-row", {
      props: ["reference","index","signedIn"],
      data: function() {
        return {
          recommendIsLoading: false,
          hoverPaperDetails: false,
          showPaperDetails: false,
          truncateAbstract: true
        }
      },
      computed: {
        hasPaperDetails: function() {
          return this.reference.authors.length > 0 || this.reference.notes.length > 0 || this.reference.tag_list.length > 0 || this.reference.abstract !== ''
        }
      },
      template: '#reference-row'
    });
    var referenceListApp = new Vue({
      data: {
        signedIn: false,
        truncateAbstract: true,
        indexIndexInModal: 0,
        selectedReference: {},
        allReferences: []
      },
      methods: {
        selectReference: function(index) {
          this.referenceIndexInModal = index
          this.selectedReference = this.allReferences[index];
        }
      }
    });
    referenceListApp.signedIn = <%= user_signed_in? %>
    referenceListApp.allReferences = <%= raw render('users/lists/references.json', references: @references) %>
    referenceListApp.$mount('#reference-list')
  </script>
<% end %>