<div id="reference-list">

  <div class="modal fade" id="referenceModal" tabindex="-1" role="dialog" aria-labelledby="referenceModal" v-if="selectedRef.paper" :reference="selectedRef">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

          <h4 class="modal-title">
            <vote :voteable="selectedRef" :signed-in="signedIn"></vote>
            {{selectedRef.paper.title}}
            <a class="modal-link" :href="selectedRef.direct_link" target="_blank"></a>
          </h4>
          <mini-bib :reference="selectedRef"></mini-bib>
          <div>
            <span v-if="selectedRef.tag_list == 0 && editsAllowed">Add tags</span>
            <a class="tag"
              v-for="(tag,index) in selectedRef.tag_list"
            >
              {{tag}}
              <button
                class="tag-remove"
                v-show="showTagForm"
                @click="removeTag(index)"
              >
              </button>
            </a>
            <a
              class="edit-btn"
              v-if="editsAllowed"
              @click="showTagForm = !showTagForm"
            ></a>
            <div v-show="showTagForm">
              <input
                class="form-control input-sm tag-form"
                v-model="newTag"
                placeholder="Hit enter to add a tag"
                @keyup.enter="addTag"
              >
              </input>
            </div>
          </div>
        </div>

        <div class="modal-body">
          <div class="section">
            <b>Notes and Highlights</b>
            <div class="form-group" v-if="editsAllowed">
              <textarea
                rows="3"
                v-model="selectedRef.note_form"
                class='form-control comment-box'
                placeholder='help summarize this paper, what are some key takeaways?'
              >
              </textarea>

              <div class="form-btns">
                <button
                  class="submit-btn"
                  @click="submitNote"
                  v-show="selectedRef.note_form !=''"
                >
                  Submit
                </button>
              </div>
            </div>
            <div class="nothing-yet" v-if="selectedRef.notes.length == 0">No notes yet...</div>
            <div v-for="note in selectedRef.notes" class="note">
              <note :note="note"></note>
              <div class="note-btns">
                <vote :voteable="note" :signed-in="signedIn"></vote>
                <button
                  v-if="isCurrentUser(note.user)"
                >
                  edit
                </button>
                <button
                  v-if="editsAllowed"
                >
                  delete
                </button>
              </div>
            </div>
          </div>
          <div>
            <b>Abstract</b>
            <span
              v-if="!selectedRef.abstract_editable"
              data-toggle="tooltip"
              data-placement="right"
              title="this abstract was imported from a validated source"
            >
             - imported
            </span>
            <span
              v-if="selectedRef.abstract_editable && refHasAbstract"
              data-toggle="tooltip"
              data-placement="right"
              title="this abstract was user generated and not validated"
            >
              - user generated
            </span>
            <a
              class="edit-btn"
              data-toggle="tooltip"
              data-placement="right"
              v-if="selectedRef.abstract_editable  && editsAllowed"
              @click="editAbstract = !editAbstract"
              :title="refHasAbstract ? 'Edit this abstract' : 'Add an abstract'"
            ></a>
          </div>
          <div class="nothing-yet" v-if="!refHasAbstract" v-show="!editAbstract">No abstract was imported...</div>
          <div v-if="editsAllowed" v-show="editAbstract">
            <div class="form-group">
              <textarea
                rows="10"
                class="form-control"
                placeholder="No abstract was imported.  Submitted abstracts will be labeled as user generated."
                v-model="selectedRef.abstract_form"
              ></textarea>
            </div>
            <div class="form-btns">
              <button class="submit-btn" @click="submitAbstract(selectedRef)">Submit</button>
              <a
                class="cancel-link"
                @click="cancelAbstractForm"
              >
                cancel
              </a>
            </div>
          </div>
          <abstract v-if="refHasAbstract" v-show="!editAbstract" :abstract="selectedRef.abstract"></abstract>
        </div>
        <div class="modal-footer">
          <button
            class="btn btn-primary"
            @click="selectReference(referenceIndexInModal - 1)"
            v-show="referenceIndexInModal != 0"
          >Previous</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button
            class="btn btn-primary"
            @click="selectReference(referenceIndexInModal + 1)"
            v-show="referenceIndexInModal != (allReferences.length -1)"
          >Next</button>
        </div>
      </div>
    </div>
  </div>

  <% reference_count = @list.references.count %>
  <% if reference_count > 0 %>
    <%= render 'papers/sort_by' %>
    <i><%= reference_count%> papers added to this list</i>
  <% end %>

  <table class="table">
    <thead>
      <tr>
        <th width="50"></th>
        <th width="50">
          Age
        </th>
        <th>Paper</th>
        <th width="50"></th>
      </tr>
    </thead>
    <tbody
        is="reference-row"
        v-for="(reference,index) in allReferences"
        v-on:selected="selectReference(index)"
        :index="index"
        :reference="reference"
        :signed-in="signedIn"
        >
    </tbody>
  </table>
</div>

<% content_for(:page_app) do %>
  <%= render 'votes/vote_template' %>
  <%= render 'references/mini_bib' %>
  <%= render 'users/lists/notes_highlights' %>
  <%= render 'truncate_abstract' %>
  <%= render 'users/lists/reference_row' %>
  <script>
    Vue.component("abstract", {
      props: ["abstract"],
      data: function() {
        return {
          truncateAbstract: true
        }
      },
      template: '#abstract'
    })

    Vue.component("mini-bib", {
      props: ["reference"],
      template: '#mini-bib'
    })

    Vue.component("note", {
      props: ["note"],
      data: function() {
        return {
          truncateNote: true
        }
      },
      template: '#note'
    })

    Vue.component("reference-row", {
      props: ["reference","index","signedIn"],
      data: function() {
        return {
          recommendIsLoading: false,
          hoverPaperDetails: false,
          showPaperDetails: false,
          truncateAbstract: true
        }
      },
      computed: {
        hasPaperDetails: function() {
          return this.reference.notes.length > 0 || this.reference.tag_list.length > 0 || this.reference.abstract !== ''
        }
      },
      template: '#reference-row'
    });
    var referenceListApp = new Vue({
      data: {
        signedIn: false,
        currentUser: '',
        userCanEdit: false,
        truncateAbstract: true,
        referenceIndexInModal: 0,
        selectedRef: {},
        refHasAbstract: false,
        editAbstract: false,
        showTagForm: false,
        newTag: '',
        allReferences: []
      },
      computed: {
        editsAllowed: function() {
          return this.signedIn && this.userCanEdit
        },
        showNoteSubmit: function() {
          return this.selectedRef.note_form != ''
        }
      },
      mounted: function() {
        this.allReferences.forEach(function(reference) {
          Vue.set(reference, 'abstract_form', reference.abstract)
          Vue.set(reference, 'note_form', '')
        })

      },
      methods: {
        isCurrentUser: function(username) {
          return this.currentUser == username
        },
        selectReference: function(index) {
          this.referenceIndexInModal = index;
          this.selectedRef = this.allReferences[index];
          this.refHasAbstract = this.selectedRef.abstract != '';
          this.editAbstract = false;
          this.showTagForm = false;
        },
        cancelAbstractForm: function() {
          this.editAbstract = false
          this.selectedRef.abstract_form = this.selectedRef.abstract
        },
        submitAbstract: function(reference) {
          var self = this;
          var paper = reference.paper
          var params = {
            paper: {
              abstract: reference.abstract_form
            }
          };
          $.ajax({
            url: "/papers/" + paper.id  + ".json",
            type: 'PATCH',
            data: params
          })
          .done(function(){
            self.refHasAbstract = true
            self.editAbstract = false
            reference.abstract = reference.abstract_form
          })
        },
        submitTags: function() {
          var tag_list = this.selectedRef.tag_list
          if(this.selectedRef.tag_list.length == 0){ tag_list =[""]}

          var params = {
            paper: {
              tag_list: tag_list
            }
          };
          $.ajax({
            url: "/papers/" + this.selectedRef.paper.id  + ".json",
            type: 'PATCH',
            data: params
          })
          .done(function(){
          })
        },
        addTag: function() {
          if(this.newTag != '') {
            this.selectedRef.tag_list.push(this.newTag)
            this.newTag = ''
            this.submitTags()
          }
        },
        removeTag: function(index){
          this.selectedRef.tag_list.splice(index,1)
          this.submitTags()
        },
        submitNote: function() {
          var self = this
          var params = {
            comment: {
              content: this.selectedRef.note_form,
              commentable_type: 'Reference',
              commentable_id: this.selectedRef.id
            }
          };
          $.ajax({
            url: "/comments.json",
            type: 'POST',
            data: params
          })
          .done(function(newNote){
            self.selectedRef.note_form = ''
            newNote.voted = false
            newNote.votes = 0
            newNote.type ="comment"
            newNote.vote_path = "/comments/" + newNote.id + "/vote"
            self.selectedRef.notes.push(newNote)
          })
        }
      }
    });
    referenceListApp.signedIn = <%= user_signed_in? %>
    referenceListApp.currentUser = '<%= current_user ? current_user.username : '' %>'
    referenceListApp.userCanEdit = <%= current_user_can_edit?(list) || list.accepts_public_contributions? %>
    referenceListApp.allReferences = <%= raw render('users/lists/references.json', references: @references) %>
    referenceListApp.$mount('#reference-list')
  </script>
<% end %>