<script type="text/x-template" id="reference-list">
  <div>
    <div class="modal fade" id="referenceModal" tabindex="-1" role="dialog" aria-labelledby="referenceModal" v-if="selectedRef.paper" :reference="selectedRef">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <%= render 'users/lists/modal/modal_header' %>
          <div class="modal-body">
            <%= render 'users/lists/modal/section_notes_and_highlights' %>
            <%= render 'users/lists/modal/section_abstract' %>
            <%= render 'users/lists/modal/section_details' %>
          </div>
          <%= render 'users/lists/modal/modal_footer' %>
        </div>
      </div>
    </div>
    <table class="table">
      <thead>
        <tr>
          <th width="60" @click="sort('votes')" :class="{ active: sortKey == 'votes' }">
            Votes
            <span class="table-sort" :class="sortOrders['votes'] > 0 ? 'asc' : 'dsc'"></span>
          </th>
          <th width="50" @click="sort('age')" :class="{ active: sortKey == 'age' }">
            Age
            <span class="table-sort" :class="sortOrders['age'] < 0 ? 'asc' : 'dsc'"></span>
          </th>
          <th>Paper</th>
          <th width="50"></th>
        </tr>
      </thead>
      <tbody
          is="reference-row"
          v-for="(reference,index) in filteredData"
          v-on:selected="selectReference(index)"
          :index="index"
          :r="reference"
          :signed-in="signedIn"
          >
      </tbody>
    </table>
  </div>
</script>