<%
  @title = "#{@user.username}'s boards"
  @no_container = true
  @body_class = 'list-index'
%>

<div class="user-profile-heading">
  <div class="uph-cover" style="background-image: url(<%= @user.cover :cover %>)"></div>
  <div class="container">
    <div class="uph-info">
      <div class="uph-avatar">
        <img src="<%= @user.avatar :medium %>" alt="">
      </div>
      <h2 class="uph-username">
        <%= @user.full_name.blank? ? @user.username : @user.full_name %>
      </h2>
      <div class="uph-infoline">
        <%= @user.about %>
      </div>
      <% if not @user.location.blank? %>
        <div class="uph-infoline">
          <i class="fa fa-map-marker"></i> <%= @user.location %>
        </div>
      <% end %>
      <% if not @user.website.blank? %>
        <div class="uph-infoline">
          <i class="fa fa-globe"></i> <a href="<%= @user.website %>"><%= @user.website %></a>
        </div>
      <% end %>
      <div class="uph-infoline">
        <i class="fa fa-clock-o"></i> contributor since <%= @user.created_at.to_s(:month_and_year) %>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-7">

      <div class="panel panel-primary no-border no-border-radius">
        <div class="panel-heading">
          <h4>Top Tags</h4>
        </div>
        <div class="panel-body">
          <p class="text-gray">Top tags are based on <%= @user.first_name_or_username %>`s lists, comments, and pins.</p>
          <% @user.top_tags.each do |tag| %>
            <a href="#" class="label label-tag"><span class="tag-wrap"><span class="tag-name"><%= tag.name %></span> <span class="tag-count"><%= tag.taggings_count %></span></span></a>
          <% end %>
        </div>
      </div>

      <div class="panel panel-primary no-border no-border-radius">
        <div class="panel-heading">
          <h4><%= @visible_lists.to_a.count %> <%=  'List'.pluralize(@visible_lists.to_a.count) %></h4>
        </div>
        <div class="panel-body">
          <% if current_user %>
            <div class="m-b-20">
              <%= link_to 'Create a new board', new_list_path, class: 'btn btn-primary' %>
            </div>
          <% end %>

          <% @visible_lists.each do |list| %>
            <div class="list-item-short">
              <div class="lis-title">
                <a href="<%= user_list_path(list.owner, list) %>"><%= list.name %></a>
              </div>
              <div class="lis-meta">
                <%= list.papers.to_a.count %> <%=  'paper'.pluralize(list.papers.to_a.count) %>
                &middot; last activity <%= list.updated_at.to_s(:full) %>
              </div>
              <div class="lis-tags">
                <% list.tags.each do |tag| %>
                  <a href="#" class="label label-tag"><span class="tag-wrap"><span class="tag-name"><%= tag.name %></span> <span class="tag-count"><%= tag.taggings_count %></span></span></a>
              <% end %>
              </div>
            </div>
          <% end %>
        </div>
      </div>

    </div>
    <div class="col-sm-1">
      &nbsp;&nbsp;
    </div>
    <div class="col-sm-4">

      <div class="panel panel-primary no-border no-border-radius">
        <div class="panel-heading">
          <h4>Total Reach</h4>
        </div>
        <div class="panel-body">
          <div class="simple-chart" data-props='<%= {:data => [
            {:month => 'Oct', :value => 10},
            {:month => 'Nov', :value => 20},
            {:month => 'Dec', :value => 10},
            {:month => 'Jav', :value => 5},
            {:month => 'Feb', :value => 7},
            {:month => 'Mar', :value => 15},
            {:month => 'Apr', :value => 20},
            {:month => 'May', :value => 15},
            {:month => 'Jun', :value => 25},
            {:month => 'Jul', :value => 35},
            {:month => 'Aug', :value => 30},
          ]}.to_json %>'></div>
        </div>
      </div>

    </div>
  </div>


  <div id="search-lists">
    <div class="row">
      <div class="col-md-3">
        <%= render 'lists/search_index' %>
        <%= render 'lists/new_list_btn' %>
        <%= render 'lists/index_filters' %>
      </div>
      <div class="col-md-9">
        <h1>
          <span><%= "#{@user.username}'s" %> Boards</span>
          <small>sorted by popularity</small>
        </h1>

        <div v-for="result in showResults">
          <list-card
          :list="result"
          :signed-in="signedIn"
          >
          </list-card>
        </div>
      </div>
    </div>
  </div>
</div>

<% content_for(:page_app) do %>
  <%= render 'lists/list_card' %>
  <script>
    searchLists.signedIn = <%= user_signed_in? %>
    searchLists.allLists = <%= raw render('lists/lists.json', lists: @visible_lists) %>
    searchLists.$mount('#search-lists')
  </script>
<% end %>