<%= render 'list_head', list: @list %>

<div class="row list-show">
  <div class="col-md-8">
    <div class="list-section">
      <div class="list-section-h1">
        <div class= "list-title"><%= @list.name %></div>
        <%= render 'list_details' %>
        <% if @list.tag_list.any? %>
          <div class="list-tags">
            <% @list.tag_list.each do |tag| %>
              <a class="tag"><%= tag %></a>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>

    <div class="list-section">
      <div class="list-section-h2">Description</div>
      <%= wrap_on_line_breaks @list.description %>
    </div>

    <div class="list-section">
      <div class="list-section-h2">Notes and Highlights</div>
      Coming Soon
    </div>

    <div class="list-section">
      <div class="list-section-h2">
          <% if @list.references.count > 0 %>
            <%= @list.references.count %> Papers
          <% end %>
      </div>
      <%= render 'papers/sort_by' %>
      <%= render 'crossref/search', list: @list %>
      <%= render 'lists/add_reference', list: @list %>
      <%= render 'users/lists/reference_list', list: @list %>
    </div>
  </div>
  <div class="col-md-4">
    <div class="edit-section">
      <% if current_user %>
        <% if current_user.can_edit? @list %>
          <%= link_to 'Edit this list', edit_user_list_path(@list.owner, @list), class: "edit-list-btn" %>
       <% end %>
      <% end %>
    </div>

    <div class="list-section">
      <div class="list-section-h3">Media Mentions</div>
      <div class="sidebar-body">
        Coming Soon
      </div>
    </div>

    <div class="list-section">
      <div class="list-section-h3">Comments</div>
      <div id="comments-<%= @list.id %>" class="sidebar-body">
        <%= render 'commentables/comments', commentable: @list, list_for_authorization: @list %>
      </div>
    </div>
  </div>

</div>


