<%= render 'list_head', list: @list %>

<div class="row">
  <div class="col-md-8">
    <div class="list-main-header">
      <div class= "list-title"><%= @list.name %></div>
      <%= render 'list_details' %>
      <% if @list.tag_list.any? %>
        <div class="list-tags">
          <% @list.tag_list.each do |tag| %>
            <a class="tag"><%= tag %></a>
          <% end %>
        </div>
      <% end %>
    </div>

    <strong>Description</strong>
    <%= wrap_on_line_breaks @list.description %>
    <%= render 'crossref/search', list: @list %>
    <%= render 'lists/add_reference', list: @list %>
    <%= render 'users/lists/reference_list', list: @list %>
  </div>
  <div class="col-md-4">
    <div class="edit-section">
      <% if current_user %>
        <% if current_user.can_edit? @list %>
          <%= link_to 'Edit this list', edit_user_list_path(@list.owner, @list), class: "edit-list-btn" %>
       <% end %>
      <% end %>
    </div>

    <div class="list-comments">
      <strong>Comments on <%= @list.name %></strong>
      <div id="comments-<%= @list.id %>">
        <%= render 'commentables/comments', commentable: @list, list_for_authorization: @list %>
      </div>
    </div>

  </div>
</div>


