<%= render 'list_head', list: @list %>

<div class="row list-show">
  <div class="col-md-8">

    <div class="vue-list" data-props="<%=
      {
        list: ActiveSupport::JSON.decode(render('jbuilders/list.json', list: @list)),
        currentUser: current_user&.short_data,
      }.to_json
    %>"></div>

  </div>
  <div class="col-md-4">
    <div class="edit-section">
      <% if current_user %>
        <% if ListPolicy.new(current_user, @list).update? %>
          <%= link_to 'Edit this board', edit_user_list_path(@list.user, @list), class: "edit-list-btn" %>
        <% end %>
      <% end %>
    </div>

    <div class="list-section">
      <div class="list-section-h3">Comments</div>
      <div id="comments-<%= @list.id %>" class="sidebar-body">
        <div class="vue-comments" data-props="<%=
          {
            commentableType: 'List',
            commentableId: @list.id,
            signedIn: user_signed_in?,
            userId: current_user&.id,
            comments: get_json_tree(@list.comments.roots.includes(:user).order('cached_votes_up DESC, created_at ASC')),
          }.to_json
        %>"></div>
      </div>
    </div>
  </div>
</div>
