<%= render 'list_head', list: @list %>

<div class="row list-show">
  <div class="col-md-8">

    <div class="vue-list" data-props="<%=
      {
        list: @list.as_json(
          include: [
            :tags,
            :others,
            :summaries,
            posts: {include: {
              papers: {include: [:authors], methods: [:cover, :cover_thumb]},
              articles: {methods: [:cover, :cover_thumb]},
            }, methods: [:user_short]},
          ],
          methods: [:total_bookmarks, :cover, :cover_url, :owner_short]
        ),
        owner: @list.owner.username,
        signedIn: user_signed_in?,
        currentUser: current_user ? current_user.username : '',
        summaries: ActiveSupport::JSON.decode(render('users/lists/jbuilders/list_summaries.json', summaries: @summaries)),
        userCanEdit: current_user_can_edit?(@list) || @list.accepts_public_contributions?,
        references: ActiveSupport::JSON.decode(render('users/lists/jbuilders/references.json', references: @references)),
        summaryAddPath: new_user_list_summary_path(user_list_id: @list.slug),
      }.to_json
    %>"></div>

  </div>
  <div class="col-md-4">
    <div class="edit-section">
      <% if current_user %>
        <% if current_user.can_edit? @list %>
          <%= link_to 'Edit this board', edit_user_list_path(@list.owner, @list), class: "edit-list-btn" %>
        <% end %>
      <% end %>
    </div>

    <div class="list-section">
      <div class="list-section-h3">Comments</div>
      <div id="comments-<%= @list.id %>" class="sidebar-body">
        <div class="vue-comments" data-props="<%=
          {
            commentableType: 'List',
            commentableId: @list.id,
            signedIn: user_signed_in?,
            userId: current_user&.id,
            comments: get_json_tree(@list.comments.roots.includes(:user).order('cached_votes_up DESC, created_at ASC')),
          }.to_json
        %>"></div>
      </div>
    </div>
  </div>
</div>
