<% if user_signed_in? %>
  <%
    notifications = current_user.notifications
    active = notifications.length > 0

  %>
  <li class="dropdown">
    <a href="#" class="dropdown-toggle notification-button <%= 'unread-notifications' if active %>" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
      <%= "(#{current_user.notifications.length})" if active %> <span class="caret"></span>
    </a>
    <ul class="dropdown-menu notifications-menu">
      <div class="notification-heading"><h4 class="menu-title">Notifications</h4></div>
      <li class="divider"></li>
      <div class="notifications-wrapper">
        <% notifications.each do |n| %>
          <div class="notification-item">
            <%= "#{n.activity.user.username} #{n.activity.activity_type} #{n.activity.actable.paper.title} to #{n.activity.actable.list.name}"  %>
          </div>
          <li class="divider"></li>
        <% end %>
        <div class="notification-item">
          <a>see all</a>
        </div>
      </div>
    </ul>
  </li>
  <li><%= link_to 'Edit account', edit_user_registration_path %></li>
  <li><%= link_to 'Sign out', destroy_user_session_path, method: 'delete' %></li>
<% else %>
  <li><%= link_to 'Sign in', new_user_session_path %></li>
  <li><%= link_to 'Sign up', new_user_registration_path %></li>
<% end %>
